<!DOCTYPE html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="stylesheet" type="text/css" href="style.css">
			</head>
			<body>
				<ul class="topnav">
					<li>
						<a class="active" href="#home">HOME</a>
					</li>
					<li>
					
						<a href="#About">ABOUT</a>
					</li>
					<li>
						<a href="browse.html" > CUSTOMIZE MY TOUR</a>
					</li>




					<style>
					.ftr{
						color:white;
						margin: 0px;
					}
					</style>





				<img src="india.png" class="img1" alt="No image" width="100%" >

                <center>


					<section class="sec2">
                    <div class="background">
						<div class="left">
							<div style="margin-top:130px; margin-left:50px;margin-bottom: 0px;">

								<h1 style="font-size:40px;">

         WHY PERSONALIZED ITINERARY RECOMMENDATION SYSTEM?</h1>
								<p style="font-size:25px;">

									The hassle of deciding on a travel destination is often overlooked by travel websites. Travellers, a lot of times, don’t have a clear idea of where they want to travel to.We aim on solving

			 this problem by introducing a chat bot system that can recommend travel destinations based
			 on minimal information from the traveller. Another interesting feature of the project is its
			 itinerary generator.The system aims on providing a human-like user experience through the
			 use of a chat bot interface.Sit back and relax, your customized tour is just a few clicks away!
			  </p>
				<br />
				<br />





	<h1 style="font-size:40px;">

	3 STEP CUSTOMIZATION PROCESS:</h1>

	<p style="font-size:25px;">
	1. INPUT MINIMAL DETAILS </p>
	<p style="font-size:25px;">
	2. GET RECOMMENDED DESTINATIONS</p>
	<p style="font-size:25px;">
	3. GET PERSONALIZED ITINERARIES FOR THE DESIRED DESTINATION </p>





							</div>

						</div>



						<div class="right1">
                            <a name="About">
							<img src="travel3.jpg" style="border-radius:50%; margin-top:110px;" alt="no image" class="what" />

                            </a>
						</div>


						<div class="right2">
														<a name="About">
							<img src="check.png" style="border-radius:50%; margin-top:100px;" alt="no image" class="what" />

														</a>
						</div>




</div>



                </section>




<div class="ftr">
  <p align="center" style="font-size:25px;"> &copy; PERSONALIZED ITINERARY RECOMMENDATION SYSTEM </p>

        <p align="center"> Developed and Maintained by</p>

        <p> Nakulesh Jayakrishnan &nbsp;  &nbsp;  Akanksha Koshti &nbsp; &nbsp;   Gauri Deshpande  &nbsp;  </p>
                </center>
			</div>
    </body>
			</html>
